<md-card>
  <md-card-content>
    <label>{{ configuration.name }}</label><br>
    <div class="form-group">
      <input mdInput class="form-control one-field" placeholder="Ingrese el valor de la configuración"
             [(ngModel)]="configuration.value" name="value" required  type="text">
    </div>
    <br>
    <button md-mini-fab (click)="save()"><md-icon>check</md-icon></button>
    <button md-mini-fab color="warn" (click)="cancel()"><md-icon>close</md-icon></button>
  </md-card-content>
</md-card>
