<md-card>
  <md-card-content>
    <form>
      <md-input-container>
        <input mdInput class="form-control one-field" placeholder="Ingrese el titulo del desafío"
               [(ngModel)]="challenge.title" name="title" required  type="text">
      </md-input-container>
      <br>
      <select [(ngModel)]="challenge.category" name="category" required>
        <option [ngValue]="{}">Seleccione la categoría del desafío</option>
        <option *ngFor="let category of categories" [ngValue]="category">{{ category.name }}</option>
      </select>
      <br>
      <md-input-container>
        <input mdInput class="form-control one-field" placeholder="Ingrese los puntos otorgados por el desafío"
               [(ngModel)]="challenge.points" name="points" required  type="number">
      </md-input-container>
      <br>
      <span>Desea ingresar la primera pista?</span>
      <md-checkbox class="form-control one-field" [(ngModel)]="displayHint1" name="displayHint1" (click)="toggleHint1Display()"></md-checkbox>
      <br>
      <md-card *ngIf="displayHint1">
        <md-card-content>
          <md-input-container>
            <input mdInput class="form-control one-field" placeholder="Ingrese la descripción de la pista 1"
                   [(ngModel)]="challenge.hint1.description" name="hintDescription1" type="text">
          </md-input-container>
          <br>
          <md-input-container>
            <input mdInput class="form-control one-field" placeholder="Ingrese el porcentaje de puntos descontados por la pista 1"
                   [(ngModel)]="challenge.hint1.pointsPercentageCost" name="hintPointsPercentageCost1" type="number">
          </md-input-container>
        </md-card-content>
      </md-card>
      <br>
      <span>Desea ingresar la segunda pista?</span>
      <md-checkbox class="form-control one-field" [(ngModel)]="displayHint2" name="displayHint2" (click)="toggleHint2Display()"></md-checkbox>
      <br>
      <md-card *ngIf="displayHint2">
        <md-card-content>
          <md-input-container>
            <input mdInput class="form-control one-field" placeholder="Ingrese la descripción de la pista 2"
                   [(ngModel)]="challenge.hint2.description" name="hintDescription2" type="text">
          </md-input-container>
          <br>
          <md-input-container>
            <input mdInput class="form-control one-field" placeholder="Ingrese el porcentaje de puntos descontados por la pista 2"
                   [(ngModel)]="challenge.hint2.pointsPercentageCost" name="hintPointsPercentageCost2" type="text">
          </md-input-container>
        </md-card-content>
      </md-card>
      <br>
      <md-input-container>
        <input mdInput class="form-control one-field" placeholder="Ingrese la descripción del desafío"
               [(ngModel)]="challenge.description" required name="description"  type="text">
      </md-input-container>
      <br>
      <md-input-container>
        <input mdInput class="form-control one-field" placeholder="Ingrese la url del archivo adjunto"
               [(ngModel)]="challenge.attachedFileUrl" name="attachedFileUrl"  type="text">
      </md-input-container>
      <br>
      <md-input-container>
        <input mdInput class="form-control one-field" placeholder="Ingrese la respuesta del desafío"
               [(ngModel)]="challenge.validAnswer" required name="validAnswer" required  type="text">
      </md-input-container>
      <br>
      <md-input-container>
        <input mdInput class="form-control one-field" placeholder="Ingrese la descripción de la respuesta"
               [(ngModel)]="challenge.answerDescription" required name="answerDescription"  type="text">
      </md-input-container>
      <br>
      <select [(ngModel)]="challenge.nextChallenge" name="nextChallenge">
        <option [ngValue]="{}">Seleccione el próximo desafío</option>
        <option *ngFor="let nextChallenge of otherChallenges" [ngValue]="nextChallenge">{{ nextChallenge.title }}</option>
      </select>
    </form>
    <br>
    <button md-mini-fab (click)="save()"><md-icon>check</md-icon></button>
    <button md-mini-fab color="warn" (click)="cancel()"><md-icon>close</md-icon></button>
  </md-card-content>
</md-card>
