<md-card>
  <md-card-content>
    <form>
      <md-input-container>
        <input mdInput class="form-control one-field" placeholder="Ingrese el titulo del desafío"
               [(ngModel)]="challenge.title" name="title" required  type="text">
      </md-input-container>
      <br>
      <md-select placeholder="Seleccione la categoría del desafío" [(ngModel)]="challenge.category" name="category">
        <md-option *ngFor="let category of categories" [value]="category">{{ category.name }}</md-option>
      </md-select>
      <br>
      <md-input-container>
        <input mdInput class="form-control one-field" placeholder="Ingrese los puntos otorgados por el desafío"
               [(ngModel)]="challenge.points" name="points" required  type="number">
      </md-input-container>
      <br>
      <md-input-container>
        <input mdInput class="form-control one-field" placeholder="Ingrese la descripción del desafío"
               [(ngModel)]="challenge.description" name="description" required  type="text">
      </md-input-container>
      <br>
      <md-input-container>
        <input mdInput class="form-control one-field" placeholder="Ingrese la url del archivo adjunto"
               [(ngModel)]="challenge.attachedFileUrl" name="attachedFileUrl" required  type="text">
      </md-input-container>
      <br>
      <md-input-container>
        <input mdInput class="form-control one-field" placeholder="Ingrese la respuesta del desafío"
               [(ngModel)]="challenge.validAnswer" name="validAnswer" required  type="text">
      </md-input-container>
      <br>
      <md-input-container>
        <input mdInput class="form-control one-field" placeholder="Ingrese la descripción de la respuesta"
               [(ngModel)]="challenge.answerDescription" name="answerDescription" required  type="text">
      </md-input-container>
    </form>
    <br>
    <button md-mini-fab (click)="save()"><md-icon>check</md-icon></button>
    <button md-mini-fab color="warn" (click)="cancel()"><md-icon>close</md-icon></button>
  </md-card-content>
</md-card>
